---
import Layout from "../../layouts/Layout.astro";
import { Counter } from "../../components/qwik/counter.qwik";
---

<Layout title="Qwik">
  <main>
    <h1>Astro and Qwik integration</h1>
    <Counter />
  </main>
</Layout>
