---
import { GET } from "./api/hello";
import Layout from "../layouts/Layout.astro";

let response = await GET(Astro);
const data = await response.json();

function getServerData() {
  console.log("getServerData executed");
  return "This message was generated on the server!";
}
---

<Layout title="hello">
  <p>{data.greeting} world!</p>
  <p>server env-key={data.key}</p>
  <p>{getServerData()}</p>
</Layout>
