---
import {Counter} from '../../components/solid/Counter.solid';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Solid">
    <main>
        <h1>Solid Astro integration</h1>
        <Counter client:load />    
    </main>
</Layout>