<!-- src/components/Router.astro -->
<nav>
  <a href="/">home</a>
  <a href="/solid/">solid</a>
  <a href="/react/">react</a>
  <a href="/qwik/">qwik</a>
  <a href="/qwik-react/">qwik-react</a>
  <a href="/callserver/">callserver</a>
  <a href="/hello/">hello</a>
  <a href="/login/">login</a>
</nav>

<style>
  nav {
    padding-left: 20px;
  }

  a {
    font-size: 200%;
    color: rgb(194, 153, 194);
    padding-right: 20px;
  }
</style>
