---
import Router from "../components/Router.astro";
import { Image } from 'astro:assets';
import syntapseLogo from "../assets/syntapse-logo-2.png";
import { ViewTransitions } from 'astro:transitions';
import { IntervalCounter } from"../components/react/IntervalCounter"

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Router />
    <IntervalCounter client:load transition:persist/>
    <div style="display:flex; gap: 50px">
      <div transition:persist>
        <h2>html video element</h2>
        <video width="560" controls>
          <source src="/astro.mp4" type="video/mp4">
          Your browser does not support HTML video.
        </video>
      </div>
      <div transition:persist>
        <h2>youtube iframe</h2>
        <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/zrPVTf761OI?si=jmAtFkKV54i-dZT9" 
        title="YouTube video player" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen/>
      </div>  
    </div>
    <div class="heading">
      <Image class="logo" src={syntapseLogo} alt="test"/>
      <h1><span class="text-gradient">Syntapse Astro Playground</span></h1>
    </div>
    <div>{Math.random().toFixed(4)}</div>
    <div class="slot">
      <slot />
    </div>
  </body>
</html>
<style is:global>
    .slot {
      max-width: 800px;
      margin: auto;
    }
    .heading {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .heading .logo {
    max-width: 60px;
    object-fit: contain;
    margin-right: 10px;
  }
  .heading h1 {
    font-size: 4em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
    color: white;
  }
  a {
    color: white;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
