---
import Router from "../components/router/index.astro";
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
		<Router />
		<slot />
		<div class="video" transition:persist >
			This video will continue to play across route changes using ViewTransition directives
			<video controls="" autoplay="">
				<source src="/astro.mp4" type="video/mp4">
			</video>
			</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	main {
		padding: 20px;
	}
	.video {
		resize: both;
		overflow: auto;
		position: fixed;
		bottom: 0px;
		right: 20px;
		display: flex;
		flex-direction: column;
		width: 280px;
		gap: 10px;
		border: 2px solid gray;
	}
	.video video {
		width: 100%;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	* {
		color:White
	}
	.bordered {
 	   border: 1px solid rgb(58, 57, 57);
    	padding: 2vw;
	}
	button {
		color: black;
		background: gray;
		border-radius: 10px;
		padding: 10px;
	}
</style>
