<!-- src/components/Router.astro -->
<nav>
  <a href="/">home</a>
  <a href="/solid/">solid</a>
  <a href="/react/">react</a>
  <a href="/qwik/">qwik</a>
  <a href="/qwik-react/">qwik-react</a>
</nav>

<style>
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 20px;
  }

  a {
    font-size: 1.5em;
    color: rgb(194, 153, 194);
    padding-right: 20px;
    text-decoration: none;
  }
</style>
